dashboard/flows.json
[{"id":"7420b285.df803c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b48c3d32.170048","type":"debug","z":"7420b285.df803c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1080,"wires":[]},{"id":"4716b0e3.78ead","type":"serial in","z":"7420b285.df803c","name":"","serial":"f417be6e.60fda","x":110,"y":680,"wires":[["b1e3b314.46a8b"]]},{"id":"6a967bc9.c9af64","type":"ui_chart","z":"7420b285.df803c","name":"","group":"ba7998b0.043df","order":1,"width":0,"height":0,"label":"G1-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":980,"wires":[[]]},{"id":"928a2284.e8471","type":"ui_chart","z":"7420b285.df803c","name":"","group":"f9c55424.772358","order":1,"width":0,"height":0,"label":"G1-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":900,"wires":[[]]},{"id":"8a85439d.e9585","type":"ui_chart","z":"7420b285.df803c","name":"","group":"34d20bf4.7db184","order":1,"width":0,"height":0,"label":"G2-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":740,"wires":[[]]},{"id":"ab707ba0.6bbec","type":"ui_chart","z":"7420b285.df803c","name":"","group":"e2b4e896.0a7f8","order":1,"width":0,"height":0,"label":"G2-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":820,"wires":[[]]},{"id":"2ff6d466.df4474","type":"ui_chart","z":"7420b285.df803c","name":"","group":"35789bec.e802dc","order":1,"width":0,"height":0,"label":"G3-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1120,"wires":[[]]},{"id":"93468974.78e1e8","type":"ui_chart","z":"7420b285.df803c","name":"","group":"5c79d3e7.178af4","order":1,"width":0,"height":0,"label":"G3-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1200,"wires":[[]]},{"id":"96f132e.ea235d","type":"ui_chart","z":"7420b285.df803c","name":"","group":"3fde97c7.c0bae8","order":1,"width":0,"height":0,"label":"G4-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1280,"wires":[[]]},{"id":"ba26ff44.c063b8","type":"ui_chart","z":"7420b285.df803c","name":"","group":"4aa4586a.42fff8","order":1,"width":0,"height":0,"label":"G4-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1360,"wires":[[]]},{"id":"8851829a.371e9","type":"ui_chart","z":"7420b285.df803c","name":"","group":"f2ea83b9.f4da4","order":1,"width":0,"height":0,"label":"G5-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":660,"wires":[[]]},{"id":"2b21bb64.0ef864","type":"ui_chart","z":"7420b285.df803c","name":"","group":"9b5b7f84.ce85","order":1,"width":0,"height":0,"label":"G5-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":580,"wires":[[]]},{"id":"728ba866.5dfbf8","type":"ui_chart","z":"7420b285.df803c","name":"","group":"4c2a2f44.38d8c8","order":1,"width":0,"height":0,"label":"G6-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":500,"wires":[[]]},{"id":"fa926efa.7a7c08","type":"ui_chart","z":"7420b285.df803c","name":"","group":"b2b3e0c1.b367a8","order":1,"width":0,"height":0,"label":"G6-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":420,"wires":[[]]},{"id":"4b3c7ba7.421e24","type":"ui_chart","z":"7420b285.df803c","name":"","group":"c91d7da3.1d615","order":1,"width":0,"height":0,"label":"G7-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1440,"wires":[[]]},{"id":"cb4b14b9.8bc86","type":"ui_chart","z":"7420b285.df803c","name":"","group":"36e0c189.dca80e","order":1,"width":0,"height":0,"label":"G7-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1520,"wires":[[]]},{"id":"4eb094e3.3d4e14","type":"ui_chart","z":"7420b285.df803c","name":"","group":"3bd19656.592c2a","order":1,"width":0,"height":0,"label":"G8-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1600,"wires":[[]]},{"id":"e5c4d0d3.1494e","type":"ui_chart","z":"7420b285.df803c","name":"","group":"cb1dff78.e33a6","order":1,"width":0,"height":0,"label":"G8-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1680,"wires":[[]]},{"id":"e0ecd529.084438","type":"ui_chart","z":"7420b285.df803c","name":"","group":"be90a6d4.2cd71","order":1,"width":0,"height":0,"label":"G9-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":340,"wires":[[]]},{"id":"679da803.91343","type":"ui_chart","z":"7420b285.df803c","name":"","group":"ad2f4791.6469c","order":1,"width":0,"height":0,"label":"G9-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1760,"wires":[[]]},{"id":"b1e3b314.46a8b","type":"json","z":"7420b285.df803c","name":"JSON Parse","property":"payload","action":"","pretty":false,"x":130,"y":860,"wires":[["b48c3d32.170048","46ae9c92.8c892c"]]},{"id":"46ae9c92.8c892c","type":"function","z":"7420b285.df803c","name":"Parse Master","func":"msg.val_0 = msg.payload.val_0;\nmsg.val_1 = msg.payload.val_1;\nmsg.val_2 = msg.payload.val_2;\nmsg.val_3 = msg.payload.val_3;\nmsg.val_4 = msg.payload.val_4;\nmsg.val_5 = msg.payload.val_5;\nmsg.val_6 = msg.payload.val_6;\nmsg.val_7 = msg.payload.val_7;\nmsg.val_8 = msg.payload.val_8;\nmsg.val_9 = msg.payload.val_9;\nmsg.val_10 = msg.payload.val_10;\nmsg.val_11 = msg.payload.val_1;\nmsg.val_12 = msg.payload.val_12;\nmsg.val_13 = msg.payload.val_13;\nmsg.val_14 = msg.payload.val_14;\nmsg.val_15 = msg.payload.val_15;\nmsg.val_16 = msg.payload.val_16;\nmsg.val_17 = msg.payload.val_17;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":800,"wires":[["1c82abfd.8ee08c","8d2d0e46.eee68","70414386.4d052c","bdf57276.4d0c","11339450.1493dc","b9a41b96.29614","264f49ff.45808e","dafc093.1904978","31ee047e.2877f4","19c32f43.404fe1","f18e7e5d.64bdc","936d9e4f.8c0658","94c6409a.d88bb8","3f3ec14c.675ace","18fb5afa.3bf7a5","29c10e3.20127f2","6d4c10fe.93d268","1dafe2a8.c1ac6d"]]},{"id":"1c82abfd.8ee08c","type":"function","z":"7420b285.df803c","name":"Parse G1-S1","func":"msg.payload = msg.val_0;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1000,"wires":[["6a967bc9.c9af64","ede88766.b9363"]]},{"id":"8d2d0e46.eee68","type":"function","z":"7420b285.df803c","name":"Parse G1-S2","func":"msg.payload = msg.val_1;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":920,"wires":[["928a2284.e8471","9b18f36f.383d2"]]},{"id":"70414386.4d052c","type":"function","z":"7420b285.df803c","name":"Parse G2-S1","func":"msg.payload = msg.val_2;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":840,"wires":[["ab707ba0.6bbec","c0d7f57a.f2cf58"]]},{"id":"bdf57276.4d0c","type":"function","z":"7420b285.df803c","name":"Parse G2-S2","func":"msg.payload = msg.val_3;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":760,"wires":[["8a85439d.e9585","e225dde1.7ed2f8"]]},{"id":"11339450.1493dc","type":"function","z":"7420b285.df803c","name":"Parse G5-S1","func":"msg.payload = msg.val_8;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":680,"wires":[["8851829a.371e9","f0320223.eabb"]]},{"id":"19c32f43.404fe1","type":"function","z":"7420b285.df803c","name":"Parse G3-S1","func":"msg.payload = msg.val_4;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1140,"wires":[["2ff6d466.df4474","f227f667.b665d"]]},{"id":"f18e7e5d.64bdc","type":"function","z":"7420b285.df803c","name":"Parse G3-S2","func":"msg.payload = msg.val_5;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1220,"wires":[["93468974.78e1e8","c1821a35.29161"]]},{"id":"94c6409a.d88bb8","type":"function","z":"7420b285.df803c","name":"Parse G4-S2","func":"msg.payload = msg.val_7;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1380,"wires":[["ba26ff44.c063b8","72f2b07f.b1e63"]]},{"id":"936d9e4f.8c0658","type":"function","z":"7420b285.df803c","name":"Parse G4-S1","func":"msg.payload = msg.val_6;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1300,"wires":[["96f132e.ea235d","1db1a010.ba2608"]]},{"id":"b9a41b96.29614","type":"function","z":"7420b285.df803c","name":"Parse G5-S2","func":"msg.payload = msg.val_9;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":600,"wires":[["2b21bb64.0ef864","97b0aa85.2b0488"]]},{"id":"dafc093.1904978","type":"function","z":"7420b285.df803c","name":"Parse G6-S2","func":"msg.payload = msg.val_11;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":440,"wires":[["fa926efa.7a7c08","339bb8e1.3b614"]]},{"id":"264f49ff.45808e","type":"function","z":"7420b285.df803c","name":"Parse G6-S1","func":"msg.payload = msg.val_10;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["728ba866.5dfbf8","d4c47276.8e9098"]]},{"id":"3f3ec14c.675ace","type":"function","z":"7420b285.df803c","name":"Parse G7-S1","func":"msg.payload = msg.val_12;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1460,"wires":[["4b3c7ba7.421e24","ecf6be34.ce9bc"]]},{"id":"18fb5afa.3bf7a5","type":"function","z":"7420b285.df803c","name":"Parse G7-S2","func":"msg.payload = msg.val_13;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1540,"wires":[["cb4b14b9.8bc86","a4406200.b3e23"]]},{"id":"29c10e3.20127f2","type":"function","z":"7420b285.df803c","name":"Parse G8-S1","func":"msg.payload = msg.val_14;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1620,"wires":[["4eb094e3.3d4e14","9eb3e431.d7e448"]]},{"id":"6d4c10fe.93d268","type":"function","z":"7420b285.df803c","name":"Parse G8-S2","func":"msg.payload = msg.val_15;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1700,"wires":[["e5c4d0d3.1494e","9e25a542.3998d8"]]},{"id":"1dafe2a8.c1ac6d","type":"function","z":"7420b285.df803c","name":"Parse G9-S2","func":"msg.payload = msg.val_17;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1780,"wires":[["679da803.91343","2810bd47.9aea82"]]},{"id":"31ee047e.2877f4","type":"function","z":"7420b285.df803c","name":"Parse G6-S1","func":"msg.payload = msg.val_10;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["e0ecd529.084438","6f4a08c5.6b41d"]]},{"id":"6f4a08c5.6b41d","type":"ui_chart","z":"7420b285.df803c","name":"","group":"eb5715c4.b1d7c8","order":1,"width":0,"height":0,"label":"G9-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":380,"wires":[[]]},{"id":"339bb8e1.3b614","type":"ui_chart","z":"7420b285.df803c","name":"","group":"9fe09620.26dd18","order":1,"width":0,"height":0,"label":"G6-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":460,"wires":[[]]},{"id":"d4c47276.8e9098","type":"ui_chart","z":"7420b285.df803c","name":"","group":"9fe09620.26dd18","order":2,"width":0,"height":0,"label":"G6-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":540,"wires":[[]]},{"id":"97b0aa85.2b0488","type":"ui_chart","z":"7420b285.df803c","name":"","group":"9fe09620.26dd18","order":3,"width":0,"height":0,"label":"G5-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":620,"wires":[[]]},{"id":"f0320223.eabb","type":"ui_chart","z":"7420b285.df803c","name":"","group":"9fe09620.26dd18","order":4,"width":0,"height":0,"label":"G5-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":700,"wires":[[]]},{"id":"e225dde1.7ed2f8","type":"ui_chart","z":"7420b285.df803c","name":"","group":"c2a78224.4a5bd8","order":1,"width":0,"height":0,"label":"G2-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":780,"wires":[[]]},{"id":"c0d7f57a.f2cf58","type":"ui_chart","z":"7420b285.df803c","name":"","group":"c2a78224.4a5bd8","order":2,"width":0,"height":0,"label":"G2-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":860,"wires":[[]]},{"id":"9b18f36f.383d2","type":"ui_chart","z":"7420b285.df803c","name":"","group":"c2a78224.4a5bd8","order":3,"width":0,"height":0,"label":"G1-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":940,"wires":[[]]},{"id":"ede88766.b9363","type":"ui_chart","z":"7420b285.df803c","name":"","group":"c2a78224.4a5bd8","order":4,"width":0,"height":0,"label":"G1-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1020,"wires":[[]]},{"id":"f227f667.b665d","type":"ui_chart","z":"7420b285.df803c","name":"","group":"ce549169.7164b8","order":1,"width":0,"height":0,"label":"G3-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1160,"wires":[[]]},{"id":"c1821a35.29161","type":"ui_chart","z":"7420b285.df803c","name":"","group":"ce549169.7164b8","order":2,"width":0,"height":0,"label":"G3-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1240,"wires":[[]]},{"id":"1db1a010.ba2608","type":"ui_chart","z":"7420b285.df803c","name":"","group":"ce549169.7164b8","order":3,"width":0,"height":0,"label":"G4-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1320,"wires":[[]]},{"id":"72f2b07f.b1e63","type":"ui_chart","z":"7420b285.df803c","name":"","group":"ce549169.7164b8","order":4,"width":0,"height":0,"label":"G4-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1400,"wires":[[]]},{"id":"ecf6be34.ce9bc","type":"ui_chart","z":"7420b285.df803c","name":"","group":"996bc23c.ab4d9","order":1,"width":0,"height":0,"label":"G7-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1480,"wires":[[]]},{"id":"a4406200.b3e23","type":"ui_chart","z":"7420b285.df803c","name":"","group":"996bc23c.ab4d9","order":2,"width":0,"height":0,"label":"G7-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1560,"wires":[[]]},{"id":"9eb3e431.d7e448","type":"ui_chart","z":"7420b285.df803c","name":"","group":"996bc23c.ab4d9","order":3,"width":0,"height":0,"label":"G8-S1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1640,"wires":[[]]},{"id":"9e25a542.3998d8","type":"ui_chart","z":"7420b285.df803c","name":"","group":"996bc23c.ab4d9","order":4,"width":0,"height":0,"label":"G8-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1720,"wires":[[]]},{"id":"2810bd47.9aea82","type":"ui_chart","z":"7420b285.df803c","name":"","group":"eb5715c4.b1d7c8","order":2,"width":0,"height":0,"label":"G9-S2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":1800,"wires":[[]]},{"id":"f417be6e.60fda","type":"serial-port","z":"7420b285.df803c","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":""},{"id":"ba7998b0.043df","type":"ui_group","z":"","name":"Group 1","tab":"cbe6a445.a0628","order":1,"disp":false,"width":10,"collapse":false},{"id":"f9c55424.772358","type":"ui_group","z":"","name":"Group 2","tab":"cbe6a445.a0628","order":2,"disp":false,"width":10,"collapse":false},{"id":"34d20bf4.7db184","type":"ui_group","z":"","name":"Group 2","tab":"a2e4b481.192898","order":2,"disp":false,"width":10,"collapse":false},{"id":"e2b4e896.0a7f8","type":"ui_group","z":"","name":"Group 1","tab":"a2e4b481.192898","order":1,"disp":false,"width":10,"collapse":false},{"id":"35789bec.e802dc","type":"ui_group","z":"","name":"Group 1","tab":"b35103fb.9f5c3","order":1,"disp":false,"width":10,"collapse":false},{"id":"5c79d3e7.178af4","type":"ui_group","z":"","name":"Group 2","tab":"b35103fb.9f5c3","order":2,"disp":false,"width":10,"collapse":false},{"id":"3fde97c7.c0bae8","type":"ui_group","z":"7420b285.df803c","name":"Group 1","tab":"a1560a8e.d80b98","disp":false,"width":10,"collapse":false},{"id":"4aa4586a.42fff8","type":"ui_group","z":"","name":"Group 2","tab":"a1560a8e.d80b98","order":2,"disp":false,"width":10,"collapse":false},{"id":"f2ea83b9.f4da4","type":"ui_group","z":"","name":"Group 1","tab":"21d4f0ad.abb63","order":1,"disp":false,"width":10,"collapse":false},{"id":"9b5b7f84.ce85","type":"ui_group","z":"","name":"Group 2","tab":"21d4f0ad.abb63","order":2,"disp":false,"width":10,"collapse":false},{"id":"4c2a2f44.38d8c8","type":"ui_group","z":"","name":"Group 1","tab":"c114acd4.55d16","order":1,"disp":false,"width":10,"collapse":false},{"id":"b2b3e0c1.b367a8","type":"ui_group","z":"","name":"Group 2","tab":"c114acd4.55d16","order":2,"disp":false,"width":10,"collapse":false},{"id":"c91d7da3.1d615","type":"ui_group","z":"","name":"Group 1","tab":"dd4367b3.6d3988","order":1,"disp":false,"width":10,"collapse":false},{"id":"36e0c189.dca80e","type":"ui_group","z":"","name":"Group 2","tab":"dd4367b3.6d3988","order":2,"disp":false,"width":10,"collapse":false},{"id":"3bd19656.592c2a","type":"ui_group","z":"","name":"Group 1","tab":"f7d9b697.ebde18","order":1,"disp":false,"width":10,"collapse":false},{"id":"cb1dff78.e33a6","type":"ui_group","z":"","name":"Group 2","tab":"f7d9b697.ebde18","order":2,"disp":false,"width":10,"collapse":false},{"id":"be90a6d4.2cd71","type":"ui_group","z":"","name":"Group 1","tab":"308a5d16.338fe2","order":1,"disp":false,"width":10,"collapse":false},{"id":"ad2f4791.6469c","type":"ui_group","z":"","name":"Group 2","tab":"308a5d16.338fe2","order":2,"disp":false,"width":10,"collapse":false},{"id":"eb5715c4.b1d7c8","type":"ui_group","z":"","name":"Group 5","tab":"f1162c8d.558958","order":5,"disp":false,"width":4,"collapse":false},{"id":"9fe09620.26dd18","type":"ui_group","z":"","name":"Group 3","tab":"f1162c8d.558958","order":3,"disp":false,"width":4,"collapse":false},{"id":"c2a78224.4a5bd8","type":"ui_group","z":"","name":"Group 1","tab":"f1162c8d.558958","order":1,"disp":false,"width":4,"collapse":false},{"id":"ce549169.7164b8","type":"ui_group","z":"","name":"Group 2","tab":"f1162c8d.558958","order":2,"disp":false,"width":4,"collapse":false},{"id":"996bc23c.ab4d9","type":"ui_group","z":"","name":"Group 4","tab":"f1162c8d.558958","order":4,"disp":false,"width":4,"collapse":false},{"id":"cbe6a445.a0628","type":"ui_tab","z":"7420b285.df803c","name":"Grupo 1","icon":"fa-users","order":2,"disabled":false,"hidden":false},{"id":"a2e4b481.192898","type":"ui_tab","z":"","name":"Grupo 2","icon":"fa-users","order":3,"disabled":false,"hidden":false},{"id":"b35103fb.9f5c3","type":"ui_tab","z":"","name":"Grupo 3","icon":"fa-users","order":4,"disabled":false,"hidden":false},{"id":"a1560a8e.d80b98","type":"ui_tab","z":"","name":"Grupo 4","icon":"fa-users","order":5,"disabled":false,"hidden":false},{"id":"21d4f0ad.abb63","type":"ui_tab","z":"","name":"Grupo 5","icon":"fa-users","order":6,"disabled":false,"hidden":false},{"id":"c114acd4.55d16","type":"ui_tab","z":"","name":"Grupo 6","icon":"fa-users","order":7,"disabled":false,"hidden":false},{"id":"dd4367b3.6d3988","type":"ui_tab","z":"","name":"Grupo 7","icon":"fa-users","order":8,"disabled":false,"hidden":false},{"id":"f7d9b697.ebde18","type":"ui_tab","z":"","name":"Grupo 8","icon":"fa-users","order":9,"disabled":false,"hidden":false},{"id":"308a5d16.338fe2","type":"ui_tab","z":"","name":"Grupo 9","icon":"fa-users","order":10,"disabled":false,"hidden":false},{"id":"f1162c8d.558958","type":"ui_tab","z":"","name":"All","icon":"dashboard","order":1,"disabled":false,"hidden":false}]